.nav-link.active {
  /* color: red !important; */
  background-color: red !important;
  border-color: red;
}

.nav-tabs {
  --bs-border-color: red !important;
}

.nav-link {
  color: white !important;
  border: none !important;
}

.hr {
  border: 1px solid #fd0b0b;
  border-radius: 5px;
}

.carousel-indicators {
  bottom: -45px;
}

.carousel-indicators button.active {
  background-color: red;
}

.carousel-control-next {
  right: -60px;
}

.carousel-control-prev {
  left: -55px;
}

.carousel-control-prev-icon {
  background-image: url("./assets/back-arrow-4845.png") !important;
}

.carousel-control-next-icon {
  background-image: url("./assets/front-arrow-4845.png") !important;
}

.red-colour {
  color: red;
}

.navbar {
  /* --bs-dark-rgb: 33, 33, 33; */
  --bs-dark-rgb: 0, 0, 0;
}

a {
  text-decoration: none !important;
  color: white !important;
  font-size: 18px;
  transition: color 0.25s ease;
}

a:hover {
  text-decoration: none;
  color: red !important;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: #fff;
  border-radius: 25px;
}
input[type="range"]::-webkit-slider-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: red;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 1);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #fff;
}

.react-datepicker__header {
  background-color: rgb(255, 178, 178) !important;
  border: 1px solid red !important;
}

.react-datepicker {
  border: 1px solid red !important;
}

.react-datepicker__input-container .react-datepicker__calendar-icon {
  padding: 0.7rem !important;
}

.react-datepicker__month-read-view--down-arrow,
.react-datepicker__month-year-read-view--down-arrow,
.react-datepicker__navigation-icon::before {
  border-color: red !important;
  top: 10px !important;
}

.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header {
  color: red !important;
}

.react-datepicker__view-calendar-icon input {
  padding: 6px 10px 5px 35px !important;
  background-color: rgb(243, 243, 243);
  border-radius: 6px;
}

input:focus {
  outline: none !important;
}

.slick-bg.bg-1 {
  background-image: url(./assets/slider/slider1.jpg);
}

.slick-bg.bg-2 {
  background-image: url(./assets/slider/slider2.jpg);
}

.slick-bg.bg-3 {
  background-image: url(./assets/slider/slider3.jpg);
}

.carousel-slider-box {
  background: linear-gradient(to right, rgb(0, 0, 0) 20%, transparent);
}

.pop {
  overflow: hidden;
  cursor: pointer;
  transition: all ease 200ms;
}

.pop:hover {
  transform: scale(1.03);
  box-shadow: 0 13px 40px -5px hsla(0, 0%, 54%, 0.25),
    0 8px 32px -8px hsla(0, 0%, 45%, 0.3),
    0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
}

.badge.text-dark.bg-warning {
  display: inline-block;
  background-color: #ffc107 !important;
  padding: 0.25em 0.4em;
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25em;
  color: #343a40 !important;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.slide-info.fadeInUp.animated {
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 1.5;
  margin-bottom: 35px;
  text-transform: none;
  width: 80%;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.slide-info span {
  color: #fff;
  margin-right: 15px;
}

.slide-info .radius {
  color: #fff;
  border: #ff0000 2px solid;
  border-radius: 20px;
  padding: 3px 10px;
}

.head.fadeInUp.animated {
  margin: 30px 0;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  color: #ffffff;
  z-index: 9;
  text-transform: uppercase;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.btns {
  background: #ff0000;
  color: #fff;
  padding: 10px 30px;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 1rem;
  line-height: 1.5;
  transition: color 0.25s ease-in-out, background-color 0.35s ease-in-out;
}

.btns:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #ff0000;
}

.btns:hover {
  background: #1c1c1c !important;
  color: red;
}
