.nav-link.active {
  /* color: red !important; */
  background-color: red !important;
  border-color: red;
}

.nav-tabs {
  --bs-border-color: red !important;
}

.nav-link {
  color: white !important;
  border: none !important;
}

.hr {
  border: 1px solid #fd0b0b;
  border-radius: 5px;
}

.carousel-indicators {
  bottom: -45px;
}

.carousel-indicators button.active {
  background-color: red;
}

.carousel-control-next {
  right: -60px;
}

.carousel-control-prev {
  left: -55px;
}

.carousel-control-prev-icon {
  background-image: url("./assets/back-arrow-4845.png") !important;
}

.carousel-control-next-icon {
  background-image: url("./assets/front-arrow-4845.png") !important;
}

.red-colour {
  color: red;
}

.navbar {
  /* --bs-dark-rgb: 33, 33, 33; */
  --bs-dark-rgb: 0, 0, 0;
}

a {
  text-decoration: none !important;
  color: white !important;
  font-size: 18px;
  transition: color .25s ease;
}

a:hover {
  text-decoration: none;
  color: red !important;
}

input[type=range] {
  -webkit-appearance: none;
  appearance: none;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: #fff;
  border-radius: 25px;
}
input[type=range]::-webkit-slider-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: red;
  box-shadow: 0 0 4px 0 rgba(0,0,0, 1);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #fff;
}

.react-datepicker__header{
  background-color: rgb(255, 178, 178) !important;
  border: 1px solid red !important;
}

.react-datepicker{
  border: 1px solid red !important;
}

.react-datepicker__input-container .react-datepicker__calendar-icon{
padding:0.7rem !important;
}

.react-datepicker__month-read-view--down-arrow, .react-datepicker__month-year-read-view--down-arrow, .react-datepicker__navigation-icon::before{
border-color: red !important;
top: 10px !important;
}

.react-datepicker__current-month, .react-datepicker-time__header, .react-datepicker-year-header{
  color: red !important;
}

.react-datepicker__view-calendar-icon input {
  padding: 6px 10px 5px 35px !important;
  background-color: rgb(243, 243, 243);
  border-radius: 6px;
}

input:focus{
  outline: none !important;
}